/* style.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#renderCanvas {
  position: absolute; /* s’assure qu’il prend bien tout l’espace */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}
